.Flex{
    display: flex;
    border-radius: 15px;
    border: 5px solid black;
    padding:10px;
    width:1200;
}
#one,#two,#three{
    width: 500px;
    height:400px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}


@media (width<=1000px) {
    .Flex{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        /* margin: auto; */
    }
    
}