h3{
    font-weight: bold;
   color: rgb(109, 20, 251);
    

}
th{
    color: rgb(221, 15, 15);
    border-radius: 15px;
    background: #000;
}
td{
    color: blue;
    border-radius: 10px;
}
#mainly{
    display: flex;
    justify-content: center;
    align-items: center;

}
#submain{
   
    width: 45%;
    height:310px;
}
.submainly{
    color: rgb(190, 26, 32);
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}
table{
    border-radius: 15px;
    background: #cfd4d5;
}