body{
    position: relative;
}
.Div{
    width: 470px;
    height: 330px;
    border: 2px solid black;
    border-radius: 5px;
}
h2{
    margin-left: 180px;
}
#main{
    width: 390px;
    height: 310px;
    margin: 20px 0 0 20px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
}
#div{
    width: 50px;
    height: 50px;
    border: 0.1px dotted;
    position: relative;
}
#Css1{
    width: 30px;
    height: 5px;
    background: #000;
    display: inline-block;
    position: absolute;
    bottom: 0%;
    left: 10px;
    
}
#Show{
    display: none;
}
#openbtn{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}